@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  /* Prevent body scroll, map handles it */
}

/* Custom Leaflet Overrides */
.leaflet-popup-content-wrapper {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.leaflet-popup-tip {
  background: #0f172a !important;
  /* slate-900 */
  border: 1px solid #334155 !important;
}

.leaflet-container {
  background: #020617 !important;
}

/* Custom Dark Scrollbar - Global & Specific */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  /* Slate 700 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
  /* Slate 600 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #334155 transparent;
}